body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #222222;
    background-color: #ffffff;
}
.footer{
    
    background-color: #194695;
    color: #f7e8e8;
    margin-top: 20px;
    padding: 20p}
.footerimage{
    margin-top: 5px;
}
.footertext{
    display: block;
}
.negrita{
  font-weight: 900
}