.header-hosting {
    background-image: url('http://lorempixel.com/1500/1500/nature/2/');
    height: 100vh;
    overflow: auto;
    justify-content: center;
    align-items: center;
    color: #f7f6f1;
    display: flex;
}

.glyphicon.glyphicon-cloud {
    font-size: 150px;
}

.glyphicon.glyphicon-fire {
    font-size: 50px;
}

.glyphicon.glyphicon-file {
    font-size: 50px;
}

.glyphicon.glyphicon-star-empty {
    font-size: 50px;
}

.glyphicon.glyphicon-camera {
    font-size: 50px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #222222;
    background-color: #ffffff;
}

.footer {
    width: inherit;
    background-color: #194695;
    color: #f7e8e8;
    margin-top: 20px;
    padding: 20p
}

.footerimage {
    margin-top: 5px;
}

.block {
    display: block;
}

.negrita {
    font-weight: 900
}

.redessociales {
    color: #6cb4fb;
    padding: 20px;
}

.equipo {
    background-color: #40aef7;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center
}